body {
    background-color: peachpuff;
    text-align: center;
}

.image{
    border: 5px solid black;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1, h2 {
    color: rgb(25, 78, 60);
}

p {
    margin-right: 300px;
}
